@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
	@apply w-screen min-h-screen fixed flex justify-center p-0 sm:pt-32 sm:pb-40 sm:px-6 pointer-events-none
}

.background:before footer:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
}

.gradient {
	@apply z-10 w-full h-full blur-[100px] saturate-[150%] top-20 opacity-20 absolute content-[""] bg-gradient-to-b from-blue-500 to-indigo-500
}


.bg-gradient-dark {
	background: linear-gradient(10deg, #141727, #3a416f);
}

main {
  @apply relative flex flex-col min-h-screen
}

.app {
	@apply max-w-7xl mx-auto sm:px-12 px-4
}

footer {
	@apply w-full max-w-7xl mx-auto
}
footer a{
	@apply hover:underline
}

.rounded-container {
	@apply rounded-full border-2 border-gray-300 hover:bg-gray-300 bg-white active:bg-white transition duration-300 ease-in-out
}

.search-container {
	@apply h-10 sm:h-12 px-4 py-0 sm:py-6 bg-white sm:bg-transparent sm:border-transparent focus-within:bg-white focus-within:border-gray-300 hover:focus-within:bg-white hover:focus-within:border-gray-300
}